<div class="page-container">
	<% if(!user) { %>
		<div class="message-error"><h1>You need to be logged in to send a message.</h1></div>
	<% } else { %>
	<div class="message-error">
		<h1>Your message has been sent.</h1>
	</div>
	<% } %>
</div>